<div class="jumbotron blue">
  <h2 appStrikethrough><strong >Find Other GitHub Users </strong></h2>
</div>
<div class="conatiner">
    <app-search-form (searchOutput)= "searchs($event)"></app-search-form>
    <br>
    <br>

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid col-md-4">
           <div class="panel panel-heading">
               <div class="panel-body">
                   <img src="{{user.avatar_url}}" class="img-thumbnail" style="height: 300px; width: 300px" alt="">
                   
             
               </div>
               <div>
               <h5><strong>{{user.login}}</strong></h5>

               </div>
               <br>
               <button class="btn-primary btn-small">View Profile</button>
        </div>
           
           </div>
           <br>
           <div class="col-md-3">
             <div class="panel">
               <h6><strong>{{user.login}}'s Profile Details</strong></h6>
               
             </div>
             <div class="panel">
                <table class="table table-striped">
                    <thead>
                    </thead>
                    <tbody>
                      <tr>
                       
                        <td>Followers</td>
                        <td>{{user.followers}}</td>
                      </tr>
                      <tr>
                        
                        <td>Following</td>
                        <td>{{user.following}}</td>
                      </tr>
                      <tr>
                        
                          <td>Public Repositories</td>
                          <td>{{user.public_repos}}</td>
                        </tr>
                      <tr>
                        
                        <td>Joined</td>
                        <td>{{user.created_at | date}}</td>
               
                      </tr>
                    </tbody>
                  </table>
             </div>
             
             

             
           </div>
           <div class="col-md-3">
     
            </div>
     </div>
</div>

<div class="container">
  <h3>Repositories</h3>
  <div class="card " *ngFor="let repository of repo" style="width: 22rem;" class="repo">
          <div class="card-body">
            <h5 class="card-title">Repo Name: &nbsp;{{repository.name}} </h5>
            <div class="card-text">
              <hr>
              <div class="desc"><span class="top">Description:</span> &nbsp;{{repository.description}} </div>
              <hr>
              <div class="card-subtitle mb-2"><span class="top">Created On:</span> &nbsp;{{repository.created_at | date}}</div>
            </div>
            </div>
  
</div>





